<p-dialog [(visible)]="treatmentDialog" [style]="{width: '450px'}" header="Creación de Tratamiento" (onHide)="hideDialog()" [modal]="true" styleClass="p-fluid">
    <form [formGroup]="formCreateTreatment" (ngSubmit)="saveTreatment()">
        <div class="field">
            <label for="name">Nombre<span class="text-red-500 mx-1">*</span></label>
            <input type="text" pInputText id="name" formControlName="name" required autofocus />
            <small class="invalid-feedback" *ngIf="form['name'].touched">
                <p class="p-error" *ngIf="form['name'].errors?.['required']">Nombre es requerido.</p>
                <p class="p-error" *ngIf="form['name'].errors?.['minlength']">Debe tener mínimo 5 caracatéres.</p>
                <p class="p-error" *ngIf="form['name'].errors?.['maxlength']">Identificación es muy larga.</p>
            </small>
        </div>
        <div class="field">
            <label for="description">Descripción<span class="text-red-500 mx-1">*</span></label>
            <input type="text" pInputText id="description" formControlName="description" pKeyFilter="string" />
            <small class="invalid-feedback" *ngIf="form['description'].touched">
                <p class="p-error" *ngIf="form['description'].errors?.['required']">Descripción es requerida.</p>
                <p class="p-error" *ngIf="form['description'].errors?.['minlength']">Debe tener mínimo 5 caracatéres.</p>
                <p class="p-error" *ngIf="form['description'].errors?.['maxlength']">Descripción es muy larga.</p>
            </small>
        </div>

        <div class="flex gap-2">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class=" p-button-secondary" (click)="hideDialog()" type="button"></button>
            <button pButton pRipple label="Guardar" [disabled]="formCreateTreatment.invalid" icon="pi pi-check" class="p-button-success" type="submit"></button>
        </div>

    </form>


</p-dialog>
