<div class="card">
    <div class="flex gap-2 justify-content-end mb-4">
        <button pButton pRipple label="Crear" icon="pi pi-plus" class="p-button-success" (click)="showDialogCreate()"></button>
    </div>


    <p-table #dt [value]="treatments" [rows]="10" [paginator]="true" [globalFilterFields]="['name','description']"
           [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Tratamientos</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="min-width:15rem">Nombre<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="description">Descripción<p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="status" style="min-width:10rem">Estado<p-sortIcon field="status"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-treatment>
                <tr>
                    <td>{{treatment.name}}</td>
                    <td>{{treatment.description}}</td>
                    <td>{{treatment.status | status}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2" (click)="showDialogUpdate(treatment)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="confirm($event, treatment)"></button>
                </td>
                </tr>
        </ng-template>

    </p-table>
</div>

<p-confirmPopup></p-confirmPopup>
<app-create-treatment [treatmentDialog]="treatmentDialog" (treatmentDialogChange)="hideDialogCreate($event)"></app-create-treatment>
<app-edit-treatment *ngIf="treatmentUpdateDialog" [treatmentDialog]="treatmentUpdateDialog" (treatmentDialogChange)="hideDialogUpdate($event)" [treatment]="selectTreatment"></app-edit-treatment>


