<div class="container">
    <p-card header="Diagnostico"  [style]="{width: '360px'}" styleClass="p-card-shadow">
        <div class="flex flex-column gap-2 align-items-center">
            <i class="pi pi-user-edit text-8xl" >

            </i>
            <button class="p-button-outlined p-button-secondary align-items-right" [routerLink]="['./diagnostic']" label="Abrir" pButton>

            </button>
        </div>
   </p-card>
   <p-card header="Síntoma"  [style]="{width: '360px'}" styleClass="p-card-shadow">
        <div class="flex flex-column gap-2 align-items-center">
            <i class="pi pi-tablet text-8xl" >

            </i>
            <button class="p-button-outlined p-button-secondary align-items-right" [routerLink]="['./symptom']" label="Abrir" pButton>

            </button>
        </div>
    </p-card>

    <p-card header="Tratamiento"  [style]="{width: '360px'}" styleClass="p-card-shadow">
        <div class="flex flex-column gap-2 align-items-center">
            <i class="pi pi-book text-8xl" >

            </i>
            <button class="p-button-outlined p-button-secondary align-items-right" [routerLink]="['./treatment']" label="Abrir" pButton>

            </button>
        </div>
    </p-card>
</div>

