<p-dialog [(visible)]="doctorDialog" [style]="{width: '600px'}" header="Creación de médicos" (onHide)="hideDialog()" [modal]="true" styleClass="p-fluid">
    <form [formGroup]="formCreateDoctor" (ngSubmit)="saveDoctor()">
        <div class="field">
            <label for="dni">Cédula de identidad <span class="text-red-500 mx-1">*</span> </label>
            <input type="text" pInputText id="dni" formControlName="dni" required autofocus />
            <small class="invalid-feedback" *ngIf="form['dni'].touched">
                <p class="p-error" *ngIf="form['dni'].errors?.['required']">Identificación es requerido.</p>
                <p class="p-error" *ngIf="form['dni'].errors?.['minlength']">Identificación debe tener mínimo 10 caracatéres.</p>
                <p class="p-error" *ngIf="form['dni'].errors?.['maxlength']">Identificación es muy larga.</p>
            </small>
        </div>
        <div class="field">
            <label for="name">Nombre <span class="text-red-500 mx-1">*</span> </label>
            <input type="text" pInputText id="name" formControlName="name" required autofocus />
            <small class="invalid-feedback" *ngIf="form['name'].touched">
                <p class="p-error" *ngIf="form['name'].errors?.['required']">Nombre es requerido.</p>
                <p class="p-error" *ngIf="form['name'].errors?.['minlength']">Nombre debe tener mínimo 3 caracatéres.</p>
                <p class="p-error" *ngIf="form['name'].errors?.['maxlength']">Nombre es muy larga.</p>
            </small>
        </div>
        <div class="field">
            <label for="lastName">Apellido <span class="text-red-500 mx-1">*</span> </label>
            <input type="text" pInputText id="lastName" formControlName="lastName" required autofocus />
            <small class="invalid-feedback" *ngIf="form['lastName'].touched">
                <p class="p-error" *ngIf="form['lastName'].errors?.['required']">Apellido es requerido.</p>
                <p class="p-error" *ngIf="form['lastName'].errors?.['minlength']">Apellido debe tener mínimo 4 caracatéres.</p>
                <p class="p-error" *ngIf="form['lastName'].errors?.['maxlength']">Apellido es muy larga.</p>
            </small>
        </div>
        <div class="field">
            <label for="email">Correo electrónico <span class="text-red-500 mx-1">*</span> </label>
            <input type="text" pInputText id="email" formControlName="email" required autofocus />
            <small class="invalid-feedback" *ngIf="form['email'].touched">
                <p class="p-error" *ngIf="form['email'].errors?.['required']">Correo electrónico  es requerido.</p>
                <p class="p-error" *ngIf="form['email'].errors?.['minlength']">Correo electrónico debe tener mínimo 10 caracatéres.</p>
                <p class="p-error" *ngIf="form['email'].errors?.['maxlength']">Correo electrónico es muy larga.</p>
            </small>
        </div>
        <div class="field">
            <label for="codeSenecyt">Código Senecyt <span class="text-red-500 mx-1">*</span> </label>
            <input type="number" pInputText id="codeSenecyt" formControlName="codeSenecyt" required autofocus />
            <small class="invalid-feedback" *ngIf="form['codeSenecyt'].touched">
                <p class="p-error" *ngIf="form['codeSenecyt'].errors?.['required']">Código senecyt es requerido.</p>
                <p class="p-error" *ngIf="form['codeSenecyt'].errors?.['minlength']">Código senecyt debe tener mínimo 4 caracatéres.</p>
                <p class="p-error" *ngIf="form['codeSenecyt'].errors?.['maxlength']">Código senecyt es muy larga.</p>
            </small>
        </div>

        <div class="flex gap-2">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary" (click)="hideDialog()" type="button"></button>
            <button pButton pRipple label="Guardar"  icon="pi pi-check" class="p-button-success" type="submit"></button>
        </div>

    </form>


</p-dialog>
