<p-dialog [(visible)]="doctorDialog" [style]="{width: '600px'}" header="Actualizar doctor" (onHide)="hideDialog()" [modal]="true" styleClass="p-fluid">
    <form [formGroup]="formEditDoctor" (ngSubmit)="saveDoctor()">

        <div class="field">
            <label for="name">Nombre</label>
            <input type="text" pInputText id="name" formControlName="name" required autofocus />
            <small class="p-error" *ngIf="">Nombre es requerido.</small>
        </div>
        <div class="field">
            <label for="lastName">Apellido</label>
            <input type="text" pInputText id="lastName" formControlName="lastName" required autofocus />
            <small class="p-error" *ngIf="">Apellido es requerido.</small>
        </div>


        <div class="field">
            <label for="address">Dirección</label>
            <input type="text" pInputText id="address" formControlName="address" required autofocus />
            <small class="p-error" *ngIf="">Dirección es requerido.</small>
        </div>

        <div class="flex gap-2">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-outlined p-button-secondary" (click)="hideDialog()" type="button"></button>
            <button pButton pRipple label="Actualizar"  icon="pi pi-check" class="p-button-outlined p-button-info" type="submit"></button>
        </div>

    </form>

</p-dialog>
