<p-dialog [(visible)]="doctorDialog" [style]="{width: '600px'}" header="Actualizar doctor" (onHide)="hideDialog()" [modal]="true" styleClass="p-fluid">
    <form [formGroup]="formEditDoctor" (ngSubmit)="saveDoctor()">

        <div class="field">
            <label for="name">Nombre <span class="text-red-500 mx-1">*</span></label>
            <input type="text" pInputText id="name" formControlName="name" required autofocus />
            <small class="invalid-feedback" *ngIf="form['name'].touched">
                <p class="p-error" *ngIf="form['name'].errors?.['required']">Nombre es requerido.</p>
                <p class="p-error" *ngIf="form['name'].errors?.['minlength']">Nombre debe tener mínimo 3 caracatéres.</p>
                <p class="p-error" *ngIf="form['name'].errors?.['maxlength']">Nombre es muy larga.</p>
            </small>
        </div>
        <div class="field">
            <label for="lastName">Apellido <span class="text-red-500 mx-1">*</span></label>
            <input type="text" pInputText id="lastName" formControlName="lastName" required autofocus />
            <small class="invalid-feedback" *ngIf="form['lastName'].touched">
            <p class="p-error" *ngIf="form['lastName'].errors?.['required']">Apellido es requerido.</p>
            <p class="p-error" *ngIf="form['lastName'].errors?.['minlength']">Apellido debe tener mínimo 4 caracatéres.</p>
            <p class="p-error" *ngIf="form['lastName'].errors?.['maxlength']">Apellido es muy larga.</p>
        </small>
        </div>


        <div class="field">
            <label for="address">Dirección</label>
            <input type="text" pInputText id="address" formControlName="address" required autofocus />
            <small class="invalid-feedback" *ngIf="form['address'].touched">
            <p class="p-error" *ngIf="form['adrress'].errors?.['required']">Dirección es requerido.</p>
            <p class="p-error" *ngIf="form['adrress'].errors?.['minlength']">Dirección debe tener mínimo 5 caracatéres.</p>
            <p class="p-error" *ngIf="form['adrress'].errors?.['maxlength']">Dirección es muy larga.</p>
        </small>
        </div>

        <div class="flex gap-2">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-outlined p-button-secondary" (click)="hideDialog()" type="button"></button>
            <button pButton pRipple label="Actualizar"  icon="pi pi-check" class="p-button-outlined p-button-info" type="submit"></button>
        </div>

    </form>

</p-dialog>
